{% extends "website/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Profile Details</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Update</button>
            </div>
        </form>
        <small class="text-muted mt-4 ml-2">
            <a href="{% url 'password_reset' %}">Reset Password</a>
        </small>
    </div>
{% endblock content %}